<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
<!-- pkill python  -->

</head>

<body>
 <div class="login">
  <h1>Prédiction de la qualité du vin</h1>
     <div>
        <div>
          <p>Le jeu de données traite des différents types de vin rouge portugais "Vinho Verde".
            À partir des composants physico-chimiques (inputs) nous allons prédire la qualité du vin.</p>
        </div>

        <div> 
          <p>Retrouver le dataset pour plus d'explications</p>
          <ul>
            <li><a href="https://archive.ics.uci.edu/ml/datasets/wine+quality" target="_blank"w>Wine Quality Data Set</a></li>
          </ul>
        </div>

        <div>
        <p></p> 
        
        <p>Entrer les données : </p>
        </div>
     </div>
     <div><p>Testons la prédiction avec ces entrées : 
       [14.7 - 0.09 - 1.22 - 48.7 - 0.04 - 103.9 - 244.0 - 1.01 - 2.75 - 1.0 - 12.5]</p>
       <br>
      </div>
         
      <div>
        <!-- Main Input For Receiving Query to our ML -->
        <!-- 4 inputs -->
        
       <form action="{{ url_for('predict')}}"method="post">
        <label for="comp"> <strong>fixed acidity</strong> :</label>
        <input type="text" name="fixed acidity" placeholder="fixed acidity" value="14.7"/><br>
  
        <label for="comp"> <strong>volatile acidity</strong> :</label>
        <input type="text" name="volatile acidity" value="0.09" /><br>
  
        <label for="comp"> <strong>citric acid</strong> :</label>
        <input type="text" name="citric acid" value="1.22" /><br>
  
        <label for="comp"> <strong>residual sugar</strong> :</label>
        <input type="text" name="residual sugar" value="48.7" /><br>
        
        <label for="comp"> <strong>chlorides</strong> :</label>
        <input type="text" name="chlorides" value="0.04" /><br>
  
        <label for="comp"> <strong>free sulfur dioxide</strong> :</label>
        <input type="text" name="free sulfur dioxide" value="103.9" /><br>
        
        <label for="comp"> <strong>total sulfur dioxide</strong> :</label>
        <input type="text" name="total sulfur dioxide" value="244.0" /><br>
        
        <label for="comp"> <strong>density</strong> :</label>
        <input type="text" name="density" value="1.01" /><br>
  
        <label for="comp"> <strong>pH</strong> :</label>
        <input type="text" name="pH" value="2.75" /><br>
  
        <label for="comp"> <strong>sulphates<strong> :</label>
        <input type="text" name="sulphates" value="1.0" /><br>
  
        <label for="comp"> <strong>alcohol<strong> :</label>
        <input type="text" name="alcohol" value="12.5" />

         <br><br>
         <!-- <button type="submit" class="btn btn-primary btn-block btn-large">Prediction</button> -->
       </form>
       </div>
      

      <div>

        {{ prediction_text }}
        
    
        </div>
